<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div>
                <form action="/add-record" type="get">
                    <input type="submit">
                    <input placeholder="name" type="text" name="name">
                    <input placeholder="phone" type="phone" name="phone">
                </form>
                <ul>
                    {% for record in records %}
                        <li>{{record.name}}: {{record.phone|phone_number_format('NATIONAL')}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
